.background {
    position: absolute;

    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);

    transition: opacity 250ms;
}

.background.hide {
    opacity: 0;
}

.loginSection {
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    transition: transform 250ms;
}

.background.hide > .loginSection {
    transform: translate(-50%, -50%) scale(0.8);
}

.loginSection > h1 {
    margin: 0;
    font-size: 35px;
    margin-bottom: 6px;

    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.loginSection > main {
    width: 500px;
    height: max-content;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    padding: 20px;
    box-sizing: border-box;
    
    border-radius: 13px;

    transition: width 250ms, height 250ms;
}

@media screen and (min-width: 1500px) {
    .loginSection {
        transform: translate(-50%, -50%) scale(1.3);
    }
    .background.hide > .loginSection {
        transform: translate(-50%, -50%) scale(1.1);
    }
}

.inputContainer {
    display: block;

    width: 100%;

    margin-bottom: 15px;
}

.inputContainer > span {
    font-weight: 600;
    font-size: 18px;
}

.inputContainer > input {
    width: 100%;
    height: 35px;

    font-size: 13px;

    margin-top: 3px;
    padding: 5px 10px;

    border-radius: 5px;
    /* border: 2px solid rgb(230, 109, 109); */
    border: 2px solid transparent;

    outline: none;
    /* border: none; */
    background-color: rgba(0, 0, 0, 0.05);


    box-sizing: border-box;
    transition: background-color 250ms, border 250ms;
}

.inputContainer > input:hover {
    background-color: rgba(0, 0, 0, 0.08);
}

.loginSection .btn {
    position: relative;
    
    border-radius: 5px;
    padding: 6px 10px;
    border: none;

    cursor: pointer;
    
    font-weight: 600;

    color: white;
    background-color: rgb(109, 207, 63);

    transition: color 250ms, background-color 250ms;
}

.loginSection .btn:disabled {
    color: gray;
    background-color: rgba(0, 0, 0, 0.1);
}

.loginSection .errorT {
    font-size: 13px;
    font-weight: 400;

    color: rgb(255, 109, 109);

    margin-bottom: 5px;

    display: block;
}